<!doctype html>
<html lang="pt">
<head>
	<meta charset="UTF-8" />
	<title>Cadastro Disciplina</title>		
</head>
<body>

	<div class="container"> 
	
	<div class="row">	

	<div class="col-md-4"> 

	<legend><H5>Nova disciplina</H5></legend>	
	<form name="formDisciplinas">	
	<div class="form-group">
	<label>Código</label>
	<input type="text" name="codigo" class="form-control"  ng-model="disciplina.codigo">
	</div>

	<div class="form-group">
	<label>Nome</label>
	<input type="text" name="nome" class="form-control"  ng-model="disciplina.nome">	
	</div>
	
	<button class="btn btn-primary" ng-click="gravar()">Gravar</button>
	</form>
	
	</div>

	<div class="col-md-1"></div>

	<div class="col-md-4"> 
	<legend><H5>Disciplinas cadastradas</H5></legend>
	<table class="table table-condensed" ng-hide="listaDisciplinas.length == 0">
		<thead>
			<tr>				
				<td><label>Código</label></td>	
				<td><label>Nome</label></td>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="disciplina in listaDisciplinas">			
				<td>					
					<input type="text" class="form-control input-sm" ng-model="disciplina.codigo" size="5" >
				</td>	
				<td>
					<input type="text" class="form-control input-sm" ng-model="disciplina.nome" size="30" >
				</td>
				<td>					
					<button ng-click="remover(disciplina)"  class="btn btn-xs btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</button>					
				</td>
			</tr>
		</tbody>
	</table> 	
	</div>

	</div>

	</div>
	
</body>


</html>

